<form [formGroup]="toDoForm">
    <div>
        Title
    </div>
    <div>
        <input type="text" placeholder="Please enter title" size="40" formControlName="title">
        <input type="file" accept="image/*" #imageFile formControlName="imageFile" id="imgFile">
        <button type="button" (click)="addTask()">Add Task</button>
        <button type="button" (click)=showValues()>Show</button>
    </div>
    <h3 *ngIf="tasksArray.controls.length<=0">You have no task</h3>
    <table *ngIf ="tasksArray.controls.length>0">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName ="tasks">
                <tr *ngFor ="let t of tasksArray.controls; let i = index" [formGroup]="t">
                    <td>
                        <input type="text" placeholder="Sub task description"size="50" formControlName="subtaskTitle">
                    </td>
                    <td>
                        <select formControlName="subtaskStatus">
                            <option value="0">Not Complete</option>
                            <option value="1">Completed</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" (click)="delete(i)">X</button>
                    </td>
                </tr>
            </tbody>
    </table>
</form>



